#Home {
  height: 100vh;
  position: relative; /* Needed for proper positioning of pseudo-element */
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.626),rgba(0, 0, 0, 0.458),rgba(0, 0, 0, 0.626)), url(../imgs/pexels-nout-gons-80280-378570.jpg);
  background-position: center;
  overflow: hidden;
}


.main-message .container{
    transform: translateY(30%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-message .container .main{
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.main-message .container h1{
    font-family: var(--poppins);
    font-size: 100px;
    text-wrap: wrap;
    font-weight: 800;
    line-height: 90%;
    cursor: pointer;
    
    color: var(--font2);
}
.main-message .container p{
    padding: 0 2rem;
    font-size: 20px;
    font-family: var(--poppins);
    line-height: 130%;
    color: var(--font2);
    font-weight: 200;
}