button{
    padding: 0.7rem 1.4rem;
    background-color: var(--font2);
    outline: none;
    border: none;
    color: var(--font1);
    font-family: var(--poppins);
    font-weight: bold;
    transition: 0.4s;
}

button:hover{
    background: #ffffffc8 ;
}
button:active{
    scale: 0.95;
}