*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    background-color: var(--sec);
}

body section:nth-child(odd){
    background-color: var(--fainted);
}


.container{
    width: 90%;
    margin: auto;
}

section{
    min-height: 100vh;
    border-bottom: 1px solid #fff;
}
:root{
    --nav_trans:0.5s;
}
.heading{
    width: 100%;
    z-index: 100;
    position: fixed;
    transition: 1s;
    
}
.heading .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.heading .links{
    width: fit-content;
}
.heading .links ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.heading .links a{
    padding: 1rem 0;
    transition: var(--nav_trans);
    color: var(--third);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: var(--poppins);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.3rem;
}

.heading .links a .slide{
    height: 0.2rem;
    width: 70%;
    background-color: var(--slide);
    transform: translateX(-101%);
    transition: 0.1s;
}

.heading .links a:hover .slide{
    transform: translateX(0);
}

.heading .logo{
    overflow: hidden;
    width: 60px;
    height: 60px;
}
.heading .logo #shift_logo{
    width: fit-content;
    display: flex;
    transition: var(--nav_trans);
}
.background-shift{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
:root{
    --backmove : 10px;
}
.background-shift>div{
    width: var(--backmove);
    height: var(--backmove);
    border-radius: 100%;
    border: 2px solid #fff;
    transition: var(--nav_trans);
    transform: translateY(-0.2rem);
}
.background-shift>div:hover{
    background-color: #fff;
    scale: 1.4;
}
label{
    font-family: var(--poppins);
    font-size: 16px;
}
input{
    padding: 0.8rem 1rem;
    outline: none;
    /* border: none; */
    /* border-bottom: 2px solid var(--third); */
    /* box-shadow: 0 2px 10px #00000030; */
}
textarea{
    padding: 0.4rem 1rem;
    height: 4rem;
    outline: none;
    border: none;
    box-shadow: 0 2px 10px #00000020;
}

.link{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.link a{
    font-size: 20px;
    color: var(--font1);
    font-family: var(--poppins);
}
.icon{
    width: 20px;
    transition: var(--messagesHomeTrans);
    opacity: 0.7;
}
.icon:hover{
    transform: rotate(180deg);
    text-shadow : 0 2px 10px #0002;
}
i{
    font-weight: 500;
}