:root{
    --main:red;
    --sec:red;
    --third:rgb(255, 255, 255);

    --font1:rgb(0, 0, 0);
    --font2:rgb(255, 255, 255);
    --font3:red;

    --fontSpecial:rgb(28, 28, 28);
    --Special:rgb(238, 238, 238);

    --slide:rgb(255, 255, 255);

    --poppins: poppins;
}